@use '../themes/shared.scss' as *;
@use '../themes/light.scss' as *;
@use '../themes/dark.scss' as *;

body {
    font-family: var(--font-family);
    font-size: var(--font-size); 
    line-height: 1.6;
    color: var(--text-color-primary);
  }
  
  h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 1.2;
  }
  
  h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.4;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 0.5em;
    color: var(--text-color-primary);
  }
  
  p {
    margin-bottom: 1em;
  }
  
  .small {
    font-size: 0.875rem; /* 14px */
  }
  
  .bold {
    font-weight: bold;
  }