$fontFamily: 'Inter', sans-serif;
$fontSize: 1rem; /* 16px */
$fontColor: #1a1a1a;
$whiteColor: #ffffff;
$lightColor: #b8c1c9;
$lightGrey: #e6eff5;
$blackColor: #141619;
$darkColor: #1d1f23;
$maxWidth: 1440px;
$bgColor: #f5f4f2;
$borderRadius: 1rem;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

@mixin container {
	max-width: $maxWidth;
	margin: 0px auto;
	padding: 0px 15px;
}