@use '../../../scss/base/utils.scss' as *;
@use '../../../scss/base/breakpoints.scss' as *;

.header,
.left,
.right {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background-color: $whiteColor;    
    padding: 1rem 2rem;
    box-shadow: $shadow;
    border-radius: $borderRadius $borderRadius 0 0;
}

.left {
    flex: 1;
    max-width: 500px;
    padding-left: 5rem;
}

.right {
    gap: 1rem;
}

@include screen(md) {
    .header {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 0.75rem;
      padding: 1rem;
    }
  
    .left,
    .right {
    //   width: 100%;
      justify-content: center;
    }
    .left {
        padding-left: 0rem;
    }
  }
  