@use '../../scss/themes/shared.scss' as *;
@use '../../scss/base/breakpoints.scss' as *;

.layout,
.main {
    padding: 2rem 1rem;
}

.layout {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;

    @include screen(xxl) {
        padding: 2rem;
    }
    @include screen(xl) {
        padding: 1.5rem 1 rem;
        gap: 1.5rem;
    }
    @include screen(md) {
        padding: 1rem 0.5rem;
        gap: 1rem;
    }
    @include screen(sm) {
        padding: 0.5rem;
        gap: 0.5rem;
    }
}