.theme-dark {
    --bg-color-body: #141518;
    --bg-header: #262525;
    --text-color-primary: #ffffff;
    --text-color-secondary: #a0aab2;
    --theme-icon-color: #ddd; 
    --theme-icon-hover-color: #fff; 
    --search-border: #6b6f72;
    --search-border-hover: #e1dfdf;
    --button-bg: #2e2f34;
    --icon-color: #b8c1c9;
    --shadow: none; 
    --button-bg: #2e2f34;
    --button-text: #ffffff;
    --button-hover-bg: #e7e3e0;
    --button-hover-text: #1a1a1a;
    --card-bg: #1f1f1f;
    --shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}