.theme-dark {
    --bg-color-body: #141518;
    --bg-header: #262525;
    --text-color-primary: #ffffff;
    --text-color-secondary: #a0aab2;
    --theme-icon-color: #ddd; // світло-сірий
    --theme-icon-hover-color: #fff; // білий  
    --input-border: #3a3b40;
    --button-bg: #2e2f34;
    // --icon-color: #e6ecf4;
    --icon-color: #b8c1c9;
    --shadow: none;
    // --shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    // --shadow: 0 4px 20px rgba(255, 255, 255, 0.08);
}