.theme-light {
    --bg-color-body: #f5f4f2;
    --bg-header: #f9f9f9;
    --text-color-primary: #1a1a1a;
    --text-color-secondary: #3c3c3c;
    --theme-icon-color: #000; // темно-сірий
    --theme-icon-hover-color: #555;
    --input-border: #e0e0e0;
    --button-bg: #f0efee;
    --icon-color: #000000;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}