.theme-light {
    --bg-color-body: #f5f4f2;
    --bg-header: #f9f9f9;
    --text-color-primary: #1a1a1a;
    --text-color-secondary: #3c3c3c;
    --theme-icon-color: #000; 
    --theme-icon-hover-color: #555;
    --search-border: #e0e0e0;
    --search-border-hover: #8d8d8d;
    --button-bg: #f0efee;
    --icon-color: #000000;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --button-bg: #e7e3e0;
    --button-text: #1a1a1a;
    --button-hover-bg: #8d8d8d;
    --button-hover-text: #ffffff;
}