@use '../../../scss/themes/shared.scss' as *;
@use '../../../scss/themes/light.scss' as *;
@use '../../../scss/themes/dark.scss' as *;
@use '../../../scss/base/breakpoints.scss' as *;

.wrapper {
    display: flex;
    align-items: center;
    background-color: var(--bg-color-card);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    max-width: 500px;
    width: 100%;
  }
  
  .input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color-primary);
    font-size: var(--font-size);
  }
  
  .icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;  
    color: var(--icon-color);
  }
  
  .clearInput {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .close {
    opacity: 0.6;
    transition: opacity 0.2s ease;
    width: 1rem;
  
    &:hover {
      opacity: 1;
    }
  }
