@use './base/reset';
@use './base/typography';
@use './base/breakpoints' as *; 
@use './base/utils' as *;


body {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: $bgColor;
  }



