@use './base/reset';
@use './base/typography';
@use './base/breakpoints' as *; 
@use './themes/shared.scss' as *;
@use './themes/light.scss' as *;
@use './themes/dark.scss' as *;


body {
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color-body);
  }



